{% extends "lekcije/base.html" %}
{% block content %}
{% load static %}

<div class="jumbotron jumbotron-fluid big-banner ">
        <div class="container text-center">
                <h1><i>Drugi razred-predmeti</i></h1>
        </div>
</div>
<ul class="list-group list-group-flush text-center">
        <li class=" list-group-item"><a
                        href="{% url 'predmet' predmet='Matematika' godina='Druga godina'  %}">Matematika</a>
        </li>
        <li class="list-group-item"><a href="{% url 'predmet' predmet='Fizika' godina='Druga godina' %}">Fizika</a></li>
        <li class="list-group-item"><a href="{% url 'predmet' predmet='Hemija' godina='Druga godina' %}">Hemija</a></li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Biologija' godina='Druga godina' %}">Biologija</a>
        </li>
        <li class="list-group-item"><a href="{% url 'predmet' predmet='Istorija' godina='Druga godina' %}">Istorija</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Geografija' godina='Druga godina' %}">Geografija</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Psihologija' godina='Druga godina' %}">Psihologija</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Bosanski jezik i književnost' godina='Druga godina' %}">Bosanski
                        jezik i
                        književnost</a></li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Srpski jezik i književnost' godina='Druga godina' %}">Srpski
                        jezik i
                        književnost</a></li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Srpski kao nematernji jezik' godina='Druga godina' %}">Srpski
                        kao
                        nematernji jezik</a></li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Engleski jezik' godina='Druga godina' %}">Engleski
                        jezik</a>
        </li>
        <li class="list-group-item"><a href="{% url 'predmet' predmet='Nemački jezik' godina='Druga godina' %}">Nemački
                        jezik</a>
        </li>

        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Latinski jezik' godina='Druga godina' %}">Latinski
                        jezik</a>
        </li>

        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Francuski jezik' godina='Druga godina' %}">Francuski
                        jezik</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Likovna kultura' godina='Druga godina' %}">Likovna
                        kultura</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Muzička kultura' godina='Druga godina' %}">Muzička
                        kultura</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Fizičko vaspitanje' godina='Druga godina' %}">Fizičko
                        vaspitanje</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Računarstvo i informatika' godina='Druga godina' %}">Računarstvo
                        i
                        informatika</a></li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Primenjene nauke' godina='Druga godina' %}">Primenjene
                        nauke</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Umetnost i dizajn' godina='Druga godina' %}">Umetnost i
                        dizajn</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Građansko vaspitanje' godina='Druga godina' %}">Građansko
                        vaspitanje
                </a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Zdravlje i sport' godina='Druga godina' %}">Zdravlje
                        i
                        sport</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Jezik medija i kultura' godina='Druga godina' %}">Jezik medija i
                        kultura</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Islamska veronauka' godina='Druga godina' %}">Islamska
                        veronauka</a>
        </li>
        <li class="list-group-item"><a
                        href="{% url 'predmet' predmet='Pravoslavna veronauka' godina='Druga godina' %}">Pravoslavna
                        veronauka</a>
        </li>
</ul>
{% endblock %}