{% extends "lekcije/base.html" %}
{% block content %}
{% load static %}


<div class="jumbotron jumbotron-fluid  ">
    <div class="container text-center ">
        <h1><i>Gimnazija Novi Pazar-online nastava</i></h1>
    </div>
</div>
<div class="container p-3 my-3 border text-center bg-primary">
    <a href="{% url 'izbor-nastave' %}">
        <h1>IZBOR NASTAVE</h1>
    </a>
</div>
<div class="container p-3 my-3 border text-center bg-dark">
    <a href="{% url 'prvi-razred' %}">
        <h1>PRVI RAZRED</h1>
    </a>

</div>
<div class="container p-3 my-3 border text-center bg-dark">
    <a href="{% url 'drugi-razred' %}">
        <h1>DRUGI RAZRED</h1>
    </a>
</div>

</div>
<div class="container p-3 my-3 border text-center bg-dark">
    <a href="{% url 'treci-razred' %}">
        <h1>TREĆI RAZRED</h1>
    </a>
</div>
<div class="container p-3 my-3 border text-center bg-dark">
    <a href="{% url 'cetvrti-razred' %}">
        <h1>ČETVRTI RAZRED</h1>
    </a>
</div>

{% endblock %}