{% extends "lekcije/base.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}

<div class="jumbotron jumbotron-fluid big-banner ">
    <div class="container text-center">
        <h1><i>Prvi razred-Najnovije lekcije</i></h1>

    </div>
</div>

<ul class="  list-group list-group-flush text-justify">
    {% for lekcija in lekcije %}
    {% if lekcija.fajl|startswith_https %}
    <li class="list-group-item"><a href="{% url 'video' lekcija.id   %}"> {{lekcija.vreme_posta|date:"d.m.Y."}} -
            {{lekcija.predmet}} - {{lekcija.naslov}} - {{lekcija.autor}}</a></li>
    {% else %}
    <li class="list-group-item"><a href="{% url 'lekcija' lekcija.id   %}"> {{lekcija.vreme_posta|date:"d.m.Y."}} -
            {{lekcija.predmet}} - {{lekcija.naslov}} - {{lekcija.autor}}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}