{% extends "lekcije/base.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}

<div class="jumbotron jumbotron-fluid big-banner ">
    <div class="container text-center">
        {% if lekcija %}

        <h1>{{lekcija.predmet}}</h1>
        <h2>{{lekcija.godina}}</h2>
    </div>
</div>
{% endif%}
<div class='container p-3 my-3 border text-center'>
    <h2 class="mt-4">{{lekcija.naslov}}</h2>
    {% if lekcija.fajl|extension == 'jpg' %}
    <img class="img-fluid" src="{{lekcija.fajl.url}}" alt="Slika">
    {% else %}
    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://docs.google.com/viewer?url={{lekcija.fajl.url}}&embedded=true">
            </iframe>
        </div>
    </div>
    {% endif %}
    <p>
        <div class="text-left">Datum:<b>{{lekcija.vreme_posta|date:"d.m.Y."}}</b></div>
        <div class="text-right">Profesor:<b>{{lekcija.autor}}</b></div>
    </p>
</div>




{% endblock %}