{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Lekcije</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lekcije/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lekcije/main.css' %}">

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img style="width:40px;" src="{% static 'lekcije/images/logo_2.jpg'%}" class="rounded" alt="Logo"
                width="100">
        </a>

        <!-- Links -->
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h3>I</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h3>II</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h3>III</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <h3>IV</h3>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container p-3 my-3 border text-center">
        <a href="#">
            <h1>PRVI RAZRED</h1>
        </a>

    </div>
    <div class="container p-3 my-3 border text-center">
        <a href="#">
            <h1>DRUGI RAZRED</h1>
        </a>
    </div>

    </div>
    <div class="container p-3 my-3 border text-center">
        <a href="#">
            <h1>TRECI RAZRED</h1>
        </a>
    </div>
    <div class="container p-3 my-3 border text-center">
        <a href="#">
            <h1>CETVRTI RAZRED</h1>
        </a>
    </div>
</body>

</html>